@import '../../common/variables';
@import '../../mixins/styledTitle';

.Title {
  &--level {
    &-1 {
      @include title(36px)
    }
    &-2 {
      @include title(28px)
    }
    &-3 {
      @include title(24px)
    }
  }
  &--color {
    &-primary {
      color: $primary
    }
    &-secondary {
      color: $secondary
    }
    &-landing {
      color: white;
    }
  }
}

@media screen and (max-width: 780px) {
  .Title {
    &--level {
      &-1 {
        @include title(36px)
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .Title {
    &--level {
      &-1 {
        @include title(1.8em)
      }
    }
  }
}