@import '../common/variables';
@import '../common/utils';

.landing {

  &-container {
    max-width: 1024px;
    margin:0 auto;
  }

  &-header {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px;
    top: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 10%;

    &-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;

      text-align: center;
      letter-spacing: 1em;
      color: $landing-title;

      img {
        margin-right: 30px;
      }
    }

    &-menu {
      color: $grey;
      
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .hamburguer-button {
        display: none;
      }

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;

        li {
          font-family: Nunito;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: $grey;
          padding: 0 10px;
          cursor: pointer;
        }
      }

      &-register {
        color: $grey;
        border-radius: 25px;
        background-color: $purple-1;
      }
    }
  }

  &-section {
    &-hero {
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;

      background-image: linear-gradient(180deg, rgba(37, 37, 37, 0.8) 10%, rgba(196, 196, 196, 0) 55%), url('../../assets/images/stock-photo.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      p {
        font-weight: 700;
        font-size: 90px;
        color: $white;
        text-shadow: 4px 4px 5px rgba(150, 150, 150, 0.5);
      }
    }
    &-1 {
      padding: 100px 0;

      h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 85px;
        line-height: 94px;
        margin-bottom: 30px;

        text-align: center;
        color: $primary;
      }

      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;

        text-align: center;
        color: $grey-dark;
      }
    }
    &-2 {
      background-color: rgba(93, 244, 201, 0.3);
      padding: 100px 0;

      img {
        width: 90px;
        height: 90px;
      }

      >div {
        display: grid;
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(5, 200px);
        margin: 0 auto;
        justify-content: center;
        grid-column-gap: 60px;

        p {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
        }

        h2 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          color: #004C54;
          margin-bottom: 30px;
          width: 100%;
        }

        .text-align-right {
          text-align: right;
          max-width: 80%;
          margin: 0 0 0 auto;
        }

        .text-align-left {
          text-align: left;
          max-width: 80%;
          margin: 0 auto 0 0;
        }
      }

      .section-area-01 {
        grid-row-end: span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
      }
      .section-area-02 {
        grid-row-start: span 3;
        margin-top: 100px;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
      }
      .section-area-03 {
        grid-row-start: span 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
      }
      .section-area-04 {
        grid-row-start: span 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
      }
    }
    &-3 {
      padding: 100px 0;
      background-color: $purple-1;

      .team-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

        .team-person {
          background-color: #F5F5F5;
          border-radius: 0 0 8px 8px;
          border-color: #EDAB00;
          border-bottom-width: 5px;
          margin-bottom: 30px;
          padding: 15px;
          cursor:pointer;

          &:hover {
            background-color: $green-dark;
            color: $white;

            img {
              border-color: $green-dark;
            }
          }

          h2 {
              font-size: 1.2em;
          }

          img {
            max-width: 80%;
            margin-top: -40px;
            border: 5px solid #FFF;
            border-radius: 5px;
          }
        }
      }
    }
    &-4 {
      padding: 100px 0;
      background-color: $grey;

      .form-container {
        display: grid;
        grid-template-rows: repeat(2, 50px);
        grid-gap: 20px;
        width: 750px;
        justify-content: center;
        margin: 60px auto 60px auto;

        > div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          width: 750px;
        }

        input {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
          height: 40px;

          /* GRIS MEDIO */
          color: #A09D9D;

          background-color: transparent;
          border: none;
          border-bottom: 1px solid #BDBDBD;

          &:focus {
            outline: none;
          }
        }
      }

      h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;

        text-align: center;
        letter-spacing: 1em;

        color: $green-dark;
        margin-bottom: 30px;
      }

      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;

        text-align: center;

        color: $grey-medium;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .landing {

    &-container {
      width: 70%;
    }
  
    &-header {
      display: flex;
      margin: 0;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;

      img {
        width: 30px;
      }
  
      &-logo {
        justify-content: flex-start;
        font-size: 25px;
        line-height: 49px;
        letter-spacing: 0.5em;
  
        img {
          margin-right: 30px;
        }
      }
  
      &-menu {
        color: $grey;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .hamburguer-button {
          display: block;
          border-radius: 5px;
          border: 1px solid #FFF;
          padding: 5px;

          &:hover {
            background-color: #000;
          }
        }
  
        ul {
          position: absolute;
          display: inline-grid;
          padding: 0;
          right: 30px;
          grid-row-gap: 10px;
          margin-top: 10px;

          li {
            font-size: 16px;
            line-height: 0px;
            text-align: left;
            padding: 10px 0px;
          }
        }
  
        &-register {
          color: $grey;
          border-radius: 25px;
          background-color: $purple-1;
        }
      }
    }
  
    &-section {
      &-hero {
        p {
          font-size: 45px;
          text-align: center;
        }
      }
      &-1 {
        padding: 50px 0;

        h2 {
          font-size: 45px;
          line-height: 44px;
        }
      }
      &-2 {
        padding: 50px 0;
  
        >div {
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          grid-row-gap: 30px;
        }
      }
      &-3 {
        padding: 50px 0;
        background-color: $purple-1;
  
        .team-container {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          grid-gap: 20px;
  
          .team-person {
            margin-bottom: 30px;
            padding: 15px;
          }
        }
      }
      &-4 {
        padding: 50px 0;

        h3 {
          font-size: 30px;
          line-height: 40px;
          letter-spacing: 0.5em;
        }
  
        .form-container {
          grid-template-rows: 100px 50px;
          grid-gap: 20px;
          width: auto;
  
          > div {
            grid-template-columns: 1fr;
            grid-gap: 20px;
            width: auto;
          }
        }
      }
    }
  }
}
