@import '../common/variables';

.Login {
  max-width: 900px;
  margin: auto;
  height: 100%;
  &__form {
    padding: 20px;
    margin-top: 20%;
  }
  &__footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
