@import './../../common/variables';
.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  border-top: 4px solid $primary-ligth;
  background-color: $primary;
  font-size: 12px;
  padding: 0px 84px;
  &-infoLink,
  .SocialMediaLink {
    margin-right: 15px;
    color: $white;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      color: $grey-medium;
    }
  }
}
