@import './../../common/variables';

.Layout {
  display: grid;
  grid-template:
    'header   header header   ' $header-size
    'nav      main   calendar ' 1fr
    'footer   footer footer   ' 75px /
    80px 1fr 300px;
  min-height: 100vh;
  &-main {
    grid-area: main;
  }
  &.basic {
    grid-template:
      'header   header header   ' $header-size
      'main      main   main ' 1fr
      'footer   footer footer   ' 75px /
      80px 1fr 300px;
  }
}

.AppHeader {
  grid-area: header;
}
.NavDrawer {
  background: $white;
  grid-area: nav;
}
.CalendarDrawer {
  background-color: $white;
  grid-area: calendar;
}
.Footer {
  grid-area: footer;
}
