@import '../../common/variables';


.EventTag-Render {
  // display: grid;
  //grid-template-columns: 1fr;
  //grid-template-rows: repeat(4, 30px);
  div {
    min-height: 30px;
  }
  .border-bottom {
    border-bottom: 1px solid #CCC;
  }
}
.EventTag {
  display: flex;
  padding: 10px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  border: 5px solid;
  background: beige;
  margin-bottom: 5px;
  position: absolute;
  z-index: 99;
  width: -webkit-fill-available;
  border-color: transparent;
  cursor: pointer;

  &.single-line {
    padding: 0 0 0 10px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    .EventTag-info {
      display: flex;
      padding: 0 10px;

      p {
        margin: 0 10px 0 0;
      }
    }
    .EventTag-avatar {
      .cover {
        width: 40px;
        height: 40px;
      }
      p {
        display: none;
      }
    }
  }
  &:hover {
    z-index: 199;
    border-bottom-color: rgb(241, 144, 114);
    border-top-color: rgb(241, 144, 114);
    border-right-color: rgb(241, 144, 114);
  }

  &-info {
    width: 70%;
    padding: 10px;
    p {
      margin: 0;
    }
  }

  &-avatar {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .cover {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    p {
      margin: 0;
    }
  }
}