@mixin burgerBtn {
  width: 2rem;
    height: 2rem;
    position: fixed;
    top: 22px;
    right: 37px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 122;
    & div {
      width: 2rem;
      height: 0.25rem;
      background-color: $primary;
      border-radius: 10px;
      transform-origin: 1px;
    }
}
