@mixin RightNav {
  display: flex;
  flex-flow: column nowrap;
  background-color: $primary;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  width: 270px;
  padding-top: 3.5rem;
  transition: transform 0.3s ease-in-out;
  z-index: 121;
  list-style: none;
  & li {
    color: $app-background;
    font-size: 18px;
    padding: 18px 10px;
  }
}