@mixin title($size) {
  position: relative;
  font-weight: bold;
  line-height: 91%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: $size;
  &:after {
    content: attr(data-title);
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 3em;
    letter-spacing: initial;
    opacity: 0.1;
    z-index: 0;
  }
}
